@media screen and (min-width: $xs) {
    button {
        border: 0!important;
    }
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    legend {
        font-size: 12px;
        line-height: 16px;
    }
    .upper {
        text-transform: uppercase;
    }
    .bold {
        font-weight: bold;
    }
    .erro {
        background: #fdcb6e;
        color: white;
        text-align: center;
        padding: 10px 0px;
        position: absolute;
        width: 100%;
        transition: .5s;
        span {
            float: right;
            margin-right: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .login {
        .row {
            height: 100vh;
        }
    }
    .btn-purple {
        &:hover {
            background-color: #00000045 !important;
        }
    }
    .painel {
        min-height: 100vh;
    }
    .box {
        height: 150px;
        border: 2px solid $white;
        background-color: white;
        border-radius: 2px;
        margin-top: 32px;
        cursor: pointer;
        &:hover {
            background-color: $purpledark;
            border-color: $white;
            span {
                color: $white!important;
            }
        }
    }
    #modalEmail {
        height: 100vh;
        width: 100%;
        background: white;
    }
}

@media screen and (min-width: $sm) {}

@media screen and (min-width: $md) {}

@media screen and (min-width: $lg) {}

@media screen and (min-width: $xl) {}